@import "../../colors.scss";
@import "../../fonts.scss";

.timerList {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.buttonPanel {
  text-align: center;
}

.addTimerButton {
  fill: $button-background;
  width: 4rem;
  height: 4rem;
}

.noTimerMessage {
  text-align: center;
  color: $background-text-color;
  font-size: 1.5rem;
}
