@import "../../fonts.scss";
@import "../../colors.scss";

.timerItem {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seconds {
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;
  font-size: $font-size;
}

.unit {
  align-self: center;
  color: $input-color;
}

.runtime {
  color: $input-color;
  font-size: $font-size;
}

.inputSeconds {
  background-color: $input-background;
  border: 1px solid $input-border;
  color: $input-color;
  font-size: $font-size;
  width: 4rem;
}

.inputDescription {
  font-size: $font-size;
  background-color: $input-background;  
  border: 1px solid $input-border;
  color: $input-color;
}

.deleteIcon {
  fill: $timer-item-delete-icon;
}

.playIcon {
  fill: $timer-item-play-icon;
}
