.timerItem {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.seconds {
  display: flex;
  flex-direction: row;
  column-gap: 0.25rem;
}

.inputSeconds {
  width: 4rem;
  border: 1px solid #D3D3D3;
}

.inputDescription {
  border: 1px solid #D3D3D3;
}
