@import "../../../fonts.scss";
@import "../../../colors.scss";

.input {
  border: 1px solid $input-border;
  background-color: $input-background;
  color: $input-color;
}

.inputTitle {
  font-size: $font-size;
}

.watch {
  font-size: 1.75rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
