$input-border: #d3d3d3;
$card-background: #5eb2d7;
$card-border: #d3d3d3;
$app-background: #313131;
$timer-panel-buttons-color: #313131;
$timer-item-delete-icon: #313131;
$timer-item-play-icon: #313131;
