$app-background: #eeeeee;
$button-background: #b16392;
$button-color: white;
$button-border-color: #eeeeee;
$card-background: #6660af;
$card-border: none;
$input-border: #6660af;
$input-background: #6660af;
$input-color: white;
$text-color: white;
$background-text-color: #b16392;
$timer-item-delete-icon: white;
$timer-item-play-icon: white;
