$app-background: #f2e5df;
$button-background: #08c27f;
$button-color: white;
$button-border-color: #08c27f;
$card-background: white;
$card-border: none;
$input-border: #eaf9f3;
$input-background: #eaf9f3;
$timer-item-delete-icon: #08c27f;
$timer-item-play-icon: #08c27f;
