@import "../../fonts.scss";
@import "../../colors.scss";

.button {  
  color: $timer-panel-buttons-color;
  background-color: $card-background;  
  border: 1px solid $card-border;
  font-size: $font-size-timer-panel-buttons;
}
