@import "../../fonts.scss";
@import "../../colors.scss";

.button {  
  color: $button-color;
  background-color: $button-background;  
  border: 1px solid $button-border-color;
  font-size: $font-size-timer-panel-buttons;
}
